@use '../../style/variables' as *;

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    &__item {
        text-align: start;
        display: flex;
        align-items: center;

        
        span {
            margin-right: 1.5rem;
        }

        @media (max-width: $screen-xs) {
            font-size: $text-sm;

            span {
                margin-right: .9rem;
            }
        }
    }
}