@use '../../style/variables' as *;

.projects {
    padding: 3rem 0;

    &__title {
        font-family: $font-bold;
        font-size: $title-md;
        
        margin-bottom: 1.5rem;
    }
    &__subtitle {
        font-size: $title-sm;

        margin-bottom: .5rem;
    }
    &__suptext {
        margin-bottom: .5rem;
    }
    &__text {
        font-size: $title-sm;

        margin-bottom: .5rem;
    }
    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-card {

       
        }
    }

}