@use '../../style/variables'as *;

.projects {
	padding: 5rem 1rem;

	margin-bottom: 3rem;

	@media (max-width: $screen-sm) {
		padding: 3rem 2rem;
	}

	&__title {
		font-family: $font-bold;
		font-size: $title-lg;

		margin-bottom: 1.5rem;

		@media (max-width: $screen-xs) {
			font-size: $title-md;
			margin-bottom: .5rem;
		}
	}

	&__subtitle {
		font-size: $title-sm;

		margin-bottom: .5rem;

		@media (max-width: $screen-xs) {
			font-size: $text-lg;
		}
	}


	&__suptext {
		margin-bottom: .5rem;

		@media (max-width: $screen-xs) {
			font-size: $text-sm;
		}
	}

	&__text {
		font-size: $title-sm;

		margin-bottom: .5rem;

		@media (max-width: $screen-xs) {
			font-size: $text-lg;
		}
	}

	&__cards {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-card {
			width: 32%;
			height: 20rem;

			@media (max-width: $screen-md) {
				width: 47%;
			}

			@media (max-width: $screen-sm) {
				width: 100%;
			}

			.card {

				&__front,
				&__back {
					background: $bg-card;

					box-shadow: 0 0.25rem 0.75rem rgb(30 74 126 / 15%);
					border-radius: .5rem;
					padding: 1.3rem;
					margin: 1rem 0;


					&-content {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						height: 100%;
					}
				}

				&__title {
					display: flex;
					align-items: center;
					font-size: $text-md;
					font-family: $font-bold;

					margin-bottom: .5rem;

					svg {
						margin-right: 0.5rem;
					}
				}

				&__text {
					margin-bottom: .5rem;

					font-size: .9rem;

					@media (max-width: $screen-xs) {
						font-size: $text-sm;
						line-height: 1.5rem;
					}

					span {
						display: none;
						color: $color-navlink-hover;
						margin-left: .3rem;

						@media (max-width: $screen-sm) {
							display: inline-block;
						}
					}
				}

				&__list {
					font-size: 0.75rem;
				}

				&__btn {}
			}
		}
	}
}

// .projects__cards-card {
//     width: 100%;
//     max-width: 30%;

//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;

//     flex-grow: 0;


//     background-color: $bg-card;

//     }
// }