@use '../../style/variables' as *;



.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.textarea {
    width: 100%;
    padding: 1rem;

    margin-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

