@use '../../style/variables' as *;

.navbar {
    background-color: $bg-navbar;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 10;
    
    &-inner {
        position: relative;

        height: 3rem;
        padding: 0 .625rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__logo {
            a {
                img {

                }
            }
        }
        
        &__nav {
            display: flex;
            flex-direction: row;
            align-items: center;

            .navbar-links {
                display: flex;
                justify-content: center;
                align-items: center;

                &__link {
                    a {
                        font-size: $text-lg;
                    }

                }
            }

            @media (max-width: $screen-sm-min) {
                display: none;
            }

            &-mob {
                @media (max-width: $screen-sm-min) {
                    display: block;
                }

                display: none;
                background-color: $bg-navbar;

                position: fixed;
                top: 3rem;
                right: -195px;
                z-index: 1;

                transition: right .3s ease;

                &.active {
                    right: 1px;
                }

                .navbar-links {
                    &__link {
                        margin: 0;
                        padding: 0.5rem 2rem;

                        border-bottom: solid 1px $blanche;

                        &:first-child {
                            padding-top: 1rem;

                            border-top: solid 1px $blanche;
                        }

                        &:last-child {
                            padding-bottom: 1rem;

                            border-bottom: none;
                        }

                        a {
                            font-size: $title-md;
                        }
                    }
                }
            }
        }
    }
}