@use '../../style/variables' as *;

.footer {
    height: 3rem;
    background-color: $bg-navbar;

    font-size: $text-lg;
    color: $color-text-light;
    text-align: center;
    
    &__content {

        &-text {
            
        }
        &-link {
            margin-left: .5rem;
        }
    }
}